{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../static/js/jquery.js"></script>
    <!-- <script src="../static/js/ajax.js"></script>  -->


    <title>Login</title>
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <center> <br>
        <h1> {{judul}} </h1>
        <h3 style="margin-top: 20px;">Halo : {{user}}</h3>

        <form method="POST">
            {% csrf_token %} <br> <br>
            <label for="username"> Username :</label>
            <input type="text" name="username" id="username"> <br>
            <label for="password"> Password :</label>
            <input type="password" name="password" id="password"> <br>

            <button type="submit"> Login </button>
        </form>
        
    </center>

</body>

</html>