{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/accor.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Accordion</title>

    <script src="static/js/jquery.js"></script>


</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <div>
        <button id="tema">Change</button>
    </div>
    <header class="col-12 col-sm-12 col-md-12 col-lg-12">
        <center>
            {% block title %}

            <h1> {{judul}} </h1>
            <img src="/static/img/fiqri.png" alt="" width="200px"> {% endblock title %}
        </center>
    </header>



    <div class="container accor-box">
        <div class="row">
            <div class="col accor-col">

                <button class="accordion">Aktivitas</button>
                <div class="panel">
                    <p>Kuliah</p>
                    <p>Ngoding</p>
                    <p>Makan</p>
                    <p>Main</p>
                    <p>Tidur</p>
                </div>

            </div>

            <div class="col accor-col">
                <button class="accordion">Organisasi & Kepanitiaan</button>
                <div class="panel">
                    <p>Staff Departemen Sosial Kemasyarakatan FUKI</p>
                    <p>Staff Departemen Pengabdian Masyarakat IMAMI</p>
                    <p>Staff Divisi Kampanye Pemira Fasilkom 2019</p>
                    <p>Performer Musik MCF 2019</p>
                    <p>WPJ Divisi Dana Usaha SIWAK-NG 2019</p>
                    <p>PJ DIvisi Ticketing MCF 2020</p>
                </div>
            </div>
            <div class="col accor-col">
                <button class="accordion">Prestasi</button>
                <div class="panel">
                    <p>Saaaad</p>
                    <p>Belum pernah ikut lomba</p>
                    <p>Semoga kedepannya akan menjuarai beberapa Lomba</p>
                </div>
            </div>
        </div>
    </div>






    <script src="static/js/accor.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>