{% load static %}


<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #0063B2FF;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/">
            <i style="font-family: Rakkas; font-size: 30px;">Its Fiqri</i>
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
            <img src="{% static 'img/MFA.png'%}" width="30px" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/story8/" class="nav-link m-2 menu-item nav-active"><p style="font-family: Lobster; font-size: 20px;"> Story 8</p></a>
            </li>
            <li class="nav-item">
                <a href="/story9/" class="nav-link m-2 menu-item nav-active"><p style="font-family: Lobster; font-size: 20px;"> Story 9</p></a>
            </li>
        </ul>
    </div>
</nav>