:root {
    width: 100%;
}

#tema {
    margin: 10px;
    font-family: Lobster;
    border: 1px solid white;
    outline: 0;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.dark {
    /* -webkit-transition: 4s;
    transition: 1s; */
    background-color: rgba(52, 58, 64, 1);
    color: white;
}

.dark p {
    color: black;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
}

.accor-box {
    margin-top: 20px;
}

.accor-col {
    border: 1px solid blue;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.accordion dt {
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: #07B288;
}

.accordion dt:hover {
    background: #ddd;
}

.accordion dt span {
    float: left;
    font-weight: normal;
    font-size: 17px;
}

.accordion dt .accordion_icon {
    float: right;
}

.accordion_icon {
    color: #ccc;
    margin-top: 4px;
}

.accordion dt:hover .one {
    color: #07B288;
}

.accordion dt:active {
    background: #f1f1f1;
}

.accordion_content {
    margin: 0;
    padding: 15px;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}